<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="css/style.css">

  <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>


<script src='https://unpkg.com/vue@3'></script>
  <title>Vue list</title>
</head>
<body>
<div id="app">

  <h1>Lista Mail </h1>

<button id="bottone" @click="isReady = !isReady" >CLICCAMI</button>

<ul v-if="isReady">
  <li v-for="item in list">{{item}}</li>
</ul>
<div v-else class="load">
  <span class="loader"></span>
</div>



</div>
  <script src="js/script.js"></script>
</body>
</html>